
#background {
    -fx-background-color: lightsteelblue;
}
/*
#start,#ok {
    -fx-font-size: 12pt;
    -fx-padding: 5px;
    -fx-background-color: burlywood;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #03C;
    -fx-border-color: #03C;
    -fx-border-width: 2px;
    -fx-min-width: 100px;
    -fx-font-weight: bold;
}

#start:hover, #ok:hover {
    -fx-background-color: linear-gradient(gold,cornflowerblue);
}

#labLetter, #labWord, #labMessageInfo {
    -fx-background-color: whitesmoke;
    -fx-padding: 2px;
}

#word, #letter {
    -fx-border-color: #03C;
    -fx-border-width: 2px;
}




